body {
  font-weight: normal;
  font-size: 14px; //1em = 14px; 3em = 42px; 1.28em = 18px; FONTEpx/14px = FONTEem
  line-height:1.4;
  font-family: 'Oxygen', sans-serif;
  color: $color-base;
  // -webkit-font-smoothing: antialiased;
  //         font-smoothing: antialiased;
  @include respond-to(max-width, $container-max-width) {
    padding-top: 30px;
  }
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
  border-radius: 10px;
  behavior: url(assets/css/suiting/pie.htc);
}

i {
  font-size: 3.57em;
}

/* headings --------------------- */

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

h1 {
  font-size: 3.57em;
  font-family: 'Bitter Bold', sans-serif; 
  em {
    font-family: 'Bitter Bold Italic', sans-serif; 
  }
  strong, b {
    font-family: 'Bitter Bold';
    em {
      font-family: 'Bitter Bold Italic';
    }
  }
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 2.14em;
  }
}

h2, h3, h4, h5, h6 {
  font-family: 'Oxygen Bold', sans-serif;
  strong, b {
    font-family: 'Oxygen Bold';
    em {
      font-family: 'Oxygen Bold Italic';
    }
  }
}

h2 { 
  font-size: 2.14em; 
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 1.28em;
  }
}

h3 {
  font-size: 2.00em;
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 1.24em;
  }
}

h4 {
  font-size: 1.80em;
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 1.22em;
  }
}

h5 {
  font-size: 1.40em;
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 1.18em;
  }
}

h6 {
  font-size: 1.10em;
  @include respond-to(max-width, $tablet-portrait) {
    font-size: 1.14em;
  }
}

/* links ------------------------ */

a {
  text-decoration: none;
  color: $color-gray;
  &:visited { color: $color-gray; }
  &:hover   { color: $color-gray; }
  &:focus   { color: $color-gray; }
  &:active  { color: $color-gray; }
}

/* classes ------------------------ */

.centralize {
  text-align:center;
}

.hide_text {
  text-indent: -9999px;
  display: block;
}

.nav {
  li {
    display: inline-block;
  }
}

.list {
  padding-top: 35px;
  display: inline-block;
  padding-bottom: 30px;
  li {
    padding-left: 30px;
    padding-bottom: 4px;
    list-style-position: inside;
    &:before {
      /* For a round bullet */
      content:'\2022';
      /* For a square bullet */
      /*content:'\25A0';*/
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -7px;
      font-size: 25px;
      z-index: 1;
    }
  }
}

.ScrollSceneIndicators {
  display: none!important;
}

.stuck {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  z-index:1000;
  width: 100%;
}