// container -----------------------------

.l-container {
  width: $container-max-width;
  margin: 0 auto;
  @include respond-to(max-width, $container-max-width) {
    width: 100%;
    margin: 0;
  }
}

// row & cf ------------------------------

.l-row,
.cf {
  &:before,
  &:after { content: ''; display: table; }
  &:after { clear: both; }
}

// columns http://960.gs -------------------------------

//http://www.w3schools.com/cssref/css_selectors.asp
[class*=l-col] {
  @include box-sizing(border-box); // content-box = tamanho dele é definido pelo seu conteúdo apenas | border-box = O width será a soma do conteúdo com a borda e o padding: http://compass-style.org/examples/compass/css3/box_sizing/ , http://sergiolopes.org/css-box-sizing-border-box/
  float: left;
  padding: $col-padding;
}

//http://www.w3schools.com/cssref/css_selectors.asp
[class*=l-col-p] {
  @include box-sizing(border-box); // content-box = tamanho dele é definido pelo seu conteúdo apenas | border-box = O width será a soma do conteúdo com a borda e o padding: http://compass-style.org/examples/compass/css3/box_sizing/ , http://sergiolopes.org/css-box-sizing-border-box/
  float: left;
  padding: 0px $col-padding;
}

$column_width: $container-max-width/$num_columns;
@for $i from 1 through $num_columns {
  .l-col#{$i} { //.col1 .col6
    width: $i * $column_width;
  }
}

$column_width-p: percentage(1/$num_columns);
@for $i from 1 through $num_columns {
  .l-col-p#{$i} { //.col1 .col6
    display: table-cell;
    vertical-align: middle;
    width: $i * $column_width-p;
    @include respond-to(max-width, $mobile-landscape) {
      width: 100%;
    }
  }
}

// header --------------------------------

.l-header {}
.l-header-top {}
.l-header-center {}
.l-header-bottom {}

// main ----------------------------------

.l-main {}
.l-main-sidebar {}
.l-main-content {}

// footer --------------------------------

.l-footer {}
.l-footer-top {}
.l-footer-center {}
.l-footer-bottom {}

// padrão --------------------------------

#l-introducao {
  h1, h2, h3, h4, h5, h6, a {
    color: $color-blue-light;
  }
  .list {
    li {
      &:before {
        color: $color-blue-light;
      }
    }
  }
}

.saiba_mais {
  .m-text {
    &:before {
      color: $color-white;
      /* For a round bullet */
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content:'\f055';
      display: block;
      font-size: 245px;
      margin-right: 100px;
      z-index: 1;
      float: left;
      @include respond-to(max-width, $container-max-width) {
        margin-top: 20px;
        font-size: 80px;
        margin-right: 10px;
      }
      @include respond-to(max-width, $tablet-portrait) {
        font-size: 50px;
        margin-right: 10px;
      }
    }
  }
  &:after {
    content:' ';
    border-top: 28px solid $color-red-light;
    border-bottom: none;
    border-right: 27px solid transparent;
    border-left: 27px solid transparent;
    position:absolute;
    left:50%;
    margin-left: -426px;
    bottom: -28px;
    display:block;
    z-index: 10;
    @include respond-to(max-width, $container-max-width) {
      display: none;
    }
  }
}

.referencias_bibliograficas {
  min-height: 573px;
  .m-bg {
    min-height: 573px;
    background-image: url('../img/template/referencias.jpg');
    .m-text {
      height: 573px;
    }
  }
}

#l-sumario {
  .sumary {
    li {
      background-color: $color-orange-light;
      display: block;
      padding: 10px 10px 10px 40px;
      margin-bottom: 10px;
      font-family: 'Bitter Bold', sans-serif;
      font-size: 1.42em;
      @include box-sizing(border-box);
      @include respond-to(max-width, $mobile-landscape) {
        font-size: 1.2em;
      }
      &:before {
        color: $color-white;
        /* For a round bullet */
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content:'\f138';
        display: block;
        position: relative;
        max-width: 0px;
        max-height: 0px;
        left: -31px;
        top: 2px;
        font-size: 25px;
        z-index: 1;
      }
    }
  }
}

// import --------------------------------

@import 'layout/cores';
