.m-fx {
	min-height: 460px;
	@include respond-to(max-width, $container-max-width) {
		min-height: auto;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}
//TIPOS DE PATTERNS
.type1 {
	background-image: url(../img/template/fx.png);
}