.m-mobile-navigation {
  background-color: $color-red-light;
  position: fixed;
  z-index: 120;
  width: 100%;
  bottom: 0px;
  display: none;
  a {
    color: $color-white;
    display: block;
    cursor: pointer;
    &:hover {
      //background-color: $color-red-lighter;
    }
    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
    i {
      cursor: pointer;
      height: 70px;
      width: 70px;
      text-align: center;
      font-size: 3.57em;
      display: table-cell;
      vertical-align: middle;
    }
  }
  @include respond-to(max-width, $container-max-width) {
    display: block;
  }
  @include respond-to(max-width, $mobile-landscape) {
    a {
      i {
        font-size: 25px;
        width: 45px;
        height: 45px;
      }
    }
  }
}