.referencias_bibliograficas {
  min-height: 573px;
  .m-bg {
    min-height: 573px;
    background-image: url('../img/template/referencias.jpg');
    .m-text {
      height: 573px;
    }
  }
}